<?php
/**
 * SimpleWebFinger configuration file.
 *
 */


/**
 * Directory to store resource information.
 *
 * This directory must exist and be readable by the web server.
 *
 * For maximum security, it is highly recommended to place this
 * directory outside your web browser's document root directory, so
 * that it is not visible to user agents.
 *
 */
define('SIMPLEWEBFINGER_RESOURCE_DIR', '@@RESOURCE_DIR@@');

/**
 * Directory to store rate limit cache data.
 *
 * This directory must exist and be readable and writable by the
 * web server.
 *
 * For maximum security, it is highly recommended to place this
 * directory on a RAM disk.
 *
 */
define('SIMPLEWEBFINGER_CACHE_DIR', '@@CACHE_DIR@@');

/**
 * Cross-Origin Resource Sharing
 *
 * The domain access to be returned under the Access-Control-Allow-Origin
 * response header.
 *
 * In most cases, the default value of * would allow all web browsers to
 * access WebFinger resources.  If you want to restrict access to only
 * certain domains, modify the value here.
 *
 */
define('SIMPLEWEBFINGER_ACCESS_CONTROL_ALLOW_ORIGIN', '*');

/**
 * Rate limit: delay for failed requests
 *
 * In order to mitigate against harvesting attempts, SimpleWebFinger prevents
 * a client (identified by its IP address) from querying the server again
 * for a specified time after a request for a non-existent resource.
 *
 * This delay should be specified in seconds.
 *
 */
define('SIMPLEWEBFINGER_LIMIT_DELAY', 5);

/**
 * Debugging mode.
 *
 * Set the following to true to enable debugging mode.  In debugging mode,
 * additional debugging information (including potentially security sensitive
 * information is displayed along with the error message.
 */
define('SIMPLEWEBFINGER_DEBUG', FALSE);

/**
 * SimpleID integration.
 *
 * SimpleWebFinger can be used as the WebFinger server for SimpleID.
 * SimpleWebFinger can call SimpleID to look up an identity and creates a JRD
 * document for that identity.
 *
 * To enable SimpleID integration, uncomment the line below and set
 * SIMPLEWEBFINGER_SIMPLEID_WWW_DIR to the directory of the SimpleID web
 * directory (i.e. where index.php is located).
 *
 */
// define('SIMPLEWEBFINGER_SIMPLEID_WWW_DIR', '');
?>